[submodule "change_partner_city_position"]
	path = change_partner_city_position
	url = https://github.com/humanytek/change_partner_city_position
[submodule "farm"]
	path = farm
	url = https://github.com/humanytek/farm
[submodule "partner_credential"]
	path = partner_credential
	url = https://github.com/humanytek/partner_credential
[submodule "partner_curp"]
	path = partner_curp
	url = https://github.com/humanytek/partner_curp
[submodule "purchase_contract_type"]
	path = purchase_contract_type
	url = https://github.com/humanytek/purchase_contract_type
[submodule "purchase_dates"]
	path = purchase_dates
	url = https://github.com/humanytek/purchase_dates
[submodule "purchase_sign"]
	path = purchase_sign
	url = https://github.com/humanytek/purchase_sign
[submodule "sale_contract_type"]
	path = sale_contract_type
	url = https://github.com/humanytek/sale_contract_type
[submodule "truck"]
	path = truck
	url = https://github.com/humanytek/truck
[submodule "truck_outlet"]
	path = truck_outlet
	url = https://github.com/humanytek/truck_outlet
[submodule "truck_reception"]
	path = truck_reception
	url = https://github.com/humanytek/truck_reception
[submodule "vehicle"]
	path = vehicle
	url = https://github.com/humanytek/vehicle
[submodule "vehicle_outlet"]
	path = vehicle_outlet
	url = https://github.com/humanytek/vehicle_outlet
[submodule "vehicle_reception"]
	path = vehicle_reception
	url = https://github.com/humanytek/vehicle_reception
[submodule "waterhole"]
	path = waterhole
	url = https://github.com/humanytek/waterhole
[submodule "wagon"]
	path = wagon
	url = https://github.com/humanytek/wagon.git
